/* ======================================
			HANDY HELPERS
========================================*/


// MOBILE PADDING
//========================
._mobile-padding-tb {
	
	//600px
    @include respond-max($l-phone) {
        padding-top: em(30) !important;
		padding-bottom: em(30) !important;
    }
}

._mobile-padding-top {
	
	//600px
    @include respond-max($l-phone) {
        padding-top: em(30) !important;
    }
}

._mobile-padding-bottom {
	
	//600px
    @include respond-max($l-phone) {
        padding-bottom: em(30) !important;
    }
}



// MOBILE MARGIN
//========================
._mobile-margin-tb {
	
	//600px
    @include respond-max($l-phone) {
        margin-top: em(30) !important;
		margin-bottom: em(30) !important;
    }
}

._mobile-margin-top {
	
	//600px
    @include respond-max($l-phone) {
        margin-top: em(30) !important;
    }
}

._mobile-margin-bottom {
	
	//600px
    @include respond-max($l-phone) {
        margin-bottom: em(30) !important;
    }
}




// GRADIENT OVERLAY
//========================
._before {
    position: relative;
    z-index: 1;
    
    &::before {
        content: '';
        position: absolute;
        display: block !important;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

._before._overlay-black {
    
    &::before {
       // background-color: rgba($black, .7);
        z-index: -1;
    }
}


//BREAKING COLUMNS
//========================
._break-1-2 {
	
	//880px
    @include respond-max($m-tablet) {
		
		.x-column.x-1-2 {
			width: 100% !important;
			float: none !important;
			display: block !important;
		}
	}
}