// SITE WIDE STYLES
// These styles applies throughout the whole website
//==========================================================

body {
	font-family: $font-main !important;
}


a {
	-moz-outline: none !important;
	outline: none !important;
}


.site {
	background-color: transparent !important;
	
	.x-section {
		margin: 0 auto !important;
		width: 73%;
		background-color: white !important;
	}
	
	#home-hero.x-section,
	footer .x-container {
		width: 100%;
		background-color: transparent;
	}
	
	#x-section-2 {
		z-index: 2;
		margin-top: -5% !important;
	}	
}



