// SITE WIDE STYLES
// These styles applies throughout the whole website
//==========================================================

body {
	font-family: $font-main !important;
	background-attachment: fixed !important;
}


a {
	-moz-outline: none !important;
	outline: none !important;
}


.site {
	background-color: transparent !important;
	
	.x-section {
		margin: 0 auto !important;
		width: 73%;
		background-color: white !important;
	}
	
	#home-hero.x-section,
	#inner-page-hero.x-section,
	footer .x-container {
		width: 100%;
		background-color: transparent;
	}
	
	#x-section-2 {
		z-index: 2;
		margin-top: -5% !important;
	}	
}


//BACKGROUND IMAGE
//=========================
.x-content-band.bg-image {
   -webkit-background-size: auto !important;
   background-size: auto !important;
}

//Parallax
.x-section.bg-image.parallax {
	background-attachment:  inherit !important;
}



