/* =============================
		TYPOGRAPHY
=============================== */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}



// H1 BUILD
// =================
h1 {

	//Scale down the h1 tags from the default of 400%
	// Must Use Important Tags Unfortunately
	
}


// H2 BUILD
// ===========================
h2 {
	
}


// H3 BUILD
// ===========================
h3 {
	
}


// H4 BUILD
// ===========================
h4 {
	
}


// H5 BUILD
// ===========================
h5 {
	
}



// H6 BUILD
// ===========================
h6 {
	
}



//===========================================================================================



// X-TEXT STYLES - X-THEME
// ===========================

.x-text { 	

	//Gray Variant
	//=======================
	&.-grey{

		> h1, h2, h3, h4,h5,h6, p{
			//color: $grey;
		}

	}

	//White Variant
	//=====================
	&.-white{

		> h1, h2, h3, h4, h5, h6, p{
			color: white;
		}

	}

}


// TEXT WIDTHS
//========================
.x-text{
	
	&._max-1300 {
		max-width: em( 1300 );
	}
	
	&._max-1150 {
		max-width: em( 1150 );
	}
	
	&._max-520 {
		max-width: em( 520 );
	}
	
	&._max-480 {
		max-width: em( 480 );
	}
	
	
	&._center {
		margin-left: auto;
		margin-right:auto;
	}
	
	&._left {
		margin-left: 0;
		margin-right:auto;
	}
	
	&._right {
		margin-left: auto;
		margin-right:0;
	}
}


