/* =============================
		TYPOGRAPHY
=============================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $font-title !important;
	margin-top: 0 !important;
	margin-bottom: em(8) !important;
}



// H1 BUILD
// =================
h1 {

		
}


// H2 BUILD
// ===========================
h2 {
	font-size: 300%;
}


// H3 BUILD
// ===========================
h3 {
	font-size: 230%;
}


// H4 BUILD
// ===========================
h4 {
	font-size: 150%;
	
}


// H5 BUILD
// ===========================
h5 {
	
}



// H6 BUILD
// ===========================
h6 {
	
}



//===========================================================================================



// X-TEXT STYLES - X-THEME
// ===========================

.x-text { 	

	//Gray Variant
	//=======================
	&.-gray{

		> h1, h2, h3, h4,h5,h6, p{
			//color: $grey;
		}

	}

	//White Variant
	//=====================
	&.-white{

		> h1, h2, h3, h4, h5, h6, p{
			color: white;
		}
	}
	
	&.-bar {
		
		&::after {
			content: "";
		    background-color: $d-gray;
		    width: 100px;
		    height: 5px;
		    display: block;
		    margin: em(30) auto 0 !important;
		}
	}
	
	&.-no-bar {
		
		&::after {
			display: none;
		}
	}

}


// TEXT WIDTHS
//========================
.x-text {
	line-height: 1.2;
	
	&._max-1300 {
		max-width: em( 1300 );
	}
	
	&._max-1150 {
		max-width: em( 1150 );
	}
	
	&._max-920 {
		max-width: em( 920 );
	}
	
	&._max-800 {
		max-width: em( 800 );
	}
	
	&._max-520 {
		max-width: em( 520 );
	}
	
	&._max-480 {
		max-width: em( 480 );
	}
	
	&._max-380 {
		max-width: em( 380 );
	}
	
	&._max-340 {
		max-width: em( 340 );
	}
	
	
	&._center {
		margin-left: auto;
		margin-right:auto;
	}
	
	&._left {
		margin-left: 0;
		margin-right:auto;
	}
	
	&._right {
		margin-left: auto;
		margin-right:0;
	}
	
	&._larger-txt {
		
		> p {
			font-size: 24px;
		}
		
	}
	
	&._med-txt {
		
		> p {
			font-size: 18px;
		}
		
	}
}


