/* =============================
	MAIN NAVIGATION STYLES
=============================== */

.masthead {
	height:0px;
}

.x-navbar {
 	background-color: transparent !important;
 	border: 0;
}

.x-logobar{
  	background-color: transparent !important;
}