/* =============================
	   BASE BUTTON STYLES
=============================== */

//Orange Button
//==================
.x-btn {
	//font-family: $font-main;
	padding: em(15) em(35)!important;
	font-size: 15px;
	letter-spacing: 1px !important;
	text-shadow: none !important;
	text-transform: uppercase;
	
	//600px
    @include respond-max($l-phone) {
        width: 100%;
        font-size: 14px !important;
        padding: em(20) em(15) !important;
    }

	&:hover,
	&:focus {
		color: white;
	}
	
}