/* =============================
	   SLIDER STYLES
=============================== */

#service-slider {
	
	//Service Image
	.service-img {
		
		> img {
			padding: em(45);
			width: 100%;
		}
	}
	
	
	//Service Content
	.service-item {
		background-color: rgba(white, .7);
		padding: em(60) em(60);
		
		h4 {
			font-family: $font-mont !important;
			text-transform: uppercase;
			font-weight: bold;
			color: $d-gray;
		}
		
		p {
			&::after {
				content: "";
			    background-color: $d-gray;
			    width: 100px;
			    height: 5px;
			    display: block;
			    margin: em(30) 0 em(40) !important;
			}
		}
	}
	
	
	//Slider Nav
	//========================
	.owl-nav {
		position: absolute;
		width: 100%;
		top: 50%;
		
		
		.owl-theme .owl-nav [class*='owl-'] {
			margin: 0 !important;
		}
		
		.owl-prev,
		.owl-next {
			position: relative;
			display: inline-block;
		    font-family: "FontAwesome";
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    width: 40px;
		    height: 40px;
		    padding: 8px 11px;
		    overflow: hidden;
		    border-radius: 0;
		}
		
		
		.owl-prev {
			float: left;
			margin-left: -4%;
			
			&::before {
				content: '\f053';
				display: block;
			}
		}
		
		
		.owl-next {
			float: right;
			margin-right: -4%;
			
			&::before {
				content: '\f054';
				display: block;
			}
		}
	}
}